USE [master]
GO
/****** Object:  Database [DynamicChartDb]    Script Date: 24.12.2022 19:49:39 ******/
CREATE DATABASE [DynamicChartDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DynamicChartDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DynamicChartDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DynamicChartDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DynamicChartDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DynamicChartDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DynamicChartDb]
GO
/****** Object:  Table [dbo].[DataSets]    Script Date: 24.12.2022 19:49:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataSets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Year] [int] NOT NULL,
	[SoldProduct] [int] NOT NULL,
	[DataSetId] [int] NOT NULL,
 CONSTRAINT [PK_DataSets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwGetDatas]    Script Date: 24.12.2022 19:49:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vwGetDatas]
as
select * from DataSets
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetDatas]    Script Date: 24.12.2022 19:49:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnGetDatas]()
RETURNS TABLE
AS
RETURN(SELECT * FROM DataSets)
GO
/****** Object:  StoredProcedure [dbo].[spGetDatas]    Script Date: 24.12.2022 19:49:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spGetDatas]
as
select * from DataSets
GO
USE [master]
GO
